.sort {
  &__panel {
    background-color: #fff;
    box-shadow: 5px 5px 45px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 20px 10px;
  }
  &__btn_wrapper {
    padding: 20px;
    text-align: right;
  }
  &__btn {
    color: #29a745;
    cursor: pointer;
  }
}
