.sort {
    &__panel {
        background-color: #fff;
        box-shadow: 5px 5px 45px rgba(0,0,0,.1);
        border-radius: 8px;
        padding: 20px;
        margin: 20px 10px;
    }
    &__btn_wrapper {
        text-align: right;
    }
    &__btn {
        color: #29a745;
        cursor: pointer;
    }
}