.cart {
    &__page {
        padding: 100px 10px;
    }
    &__empty {
        background-color: #fff;
        box-shadow: 5px 5px 45px rgba(0,0,0,.1);
        border-radius: 8px;
        margin: 20px 10px;
        padding: 100px 10px;
    }
    &__item {
        display: flex;
        // justify-content: center;
        // align-items: center;
        background-color: #fff;
        box-shadow: 5px 5px 45px rgba(0,0,0,.1);
        border-radius: 8px;
        padding: 20px;
        margin-bottom: 20px;
        // height: 180px;
    }
    &__img_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    &__img {
        max-width: 100%;
        object-fit: cover;
        text-align: center;
        max-height: 100%;
        padding: 10px;
    }
    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
        // height: 20px;
        padding: 10px;
        margin: 20px;
        font-size: 18px;
        color: #171717;
        cursor: pointer;
    }
    &__title:hover, &__title_current:hover {
        color: rgb(17, 117, 39);
        transition: 0.5s;
    }
    &__count {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        padding: 10px;
        margin: 20px;
    }
    &__count_button, 
    &__count_button_minus, 
    &__count_button_plus {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        color: #ababab;
        background: #fff;
        font-size: 24px;
        border: 1px solid #ababab;
        width: 38px;
        line-height: 1.5;
        outline: none;
        cursor: pointer;
    }
    &__count_button_minus {
        border-radius: 8px 0 0 8px;
        padding: 5px 0 5px 5px;
        border-right: none;
    }
    &__count_button_plus {
        border-radius: 0 8px 8px 0;
        padding: 5px 5px 5px 0;
        border-left: none;
    }
    &__count_qtty {
        border: 1px solid #ababab;
        text-align: center;
        padding: 5px 0;
        width: 30px;
        font-size: 16px;
        border-left: none;
        border-right: none;
        line-height: 1.5;
        color: #666;
        cursor: auto;
    }
    &__count_button:hover, 
    &__count_button_minus:hover {
        border: 1px solid #666;
        border-right: none;
        transition: 0.3s;
        color: #666;
    }
    &__count_button_plus:hover {
        border: 1px solid #666;
        border-left: none;
        transition: 0.3s;
        color: #666;
    }
    &__price {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-weight: 600;
        padding: 10px;
        margin: 20px
    }  
}