.container {
    &__wrapper {
        max-width: 1180px;
        padding: 0 10px;
        box-sizing: content-box;
        margin-left: auto;
        margin-right: auto;
        min-height: 75%;
    }
}
.first {
    border-radius: 10px 10px 0 0;
}
.last_one {
    border-radius: 0 0 10px 10px;
}
