.product {
    &__item {
        margin-right: 12px;
        width: 250px;
        min-height: 400px;
        background-color: #fff;
        box-shadow: 5px 5px 45px rgba(256,256,256,.1);
        border-radius: 8px;
        padding: 20px;
        margin-bottom: 40px;
        border: 1px solid rgb(186, 167, 167);
    }
    &__title {
        font-size: 18px;
        font-weight: 400;
        text-align: center;
        height: 80px;
        color: #171717;
    }
    &__img_wrapper {
        width: auto;
        height: 200px;
        text-align: center
    }
    &__img {
        // width: auto;
        max-width: 100%;
        // transform: translateX(-20px);
        object-fit: cover;
        margin-bottom: 10px;
        text-align: center;
        max-height: 100%;
        // height: 150px;
    }
    &__price {
        font-size: 18px;
        font-weight: 600;
        display: flex;
        align-items: center;
        margin: 0 auto;
        text-align: center;
    }
    &__info {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 10px;
        height: 80px;
    }
    &__btn_wrapper {
        display: flex;
        // width: auto;
        // text-align: center
    }
    &__btn {
        width: 100px;
        height: 40px;
        border: none;
        background-color: #29a745;
        border-radius: 4px;
        color: #fff;
        font-size: 14px;
        cursor: pointer;
    }
}

a {
    text-decoration: none;
    color: #171717;
}