.product {
    &__item {
        width: 270px;
        min-height: 400px;
        background-color: #fff;
        box-shadow: 5px 5px 45px rgba(0,0,0,.1);
        border-radius: 8px;
        padding: 20px;
        margin-bottom: 20px;
        max-height: 460px;
    }
    &__title {
        font-size: 18px;
        font-weight: 400;
        text-align: center;
        height: 80px;
        color: #171717;
    }
    &__img_wrapper {
        width: auto;
        height: 200px;
        text-align: center
    }
    &__img {
        max-width: 100%;
        object-fit: cover;
        margin-bottom: 10px;
        text-align: center;
        max-height: 100%;
    }
    &__price {
        font-size: 18px;
        font-weight: 600;
        display: flex;
        align-items: center;
        margin: 0 auto;
        text-align: center;
    }
    &__info {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 20px;
        height: 80px;
    }
    &__btn_wrapper {
        display: flex;
    }
    &__btn {
        width: 100px;
        height: 40px;
        border: none;
        background-color: #29a745;
        border-radius: 4px;
        color: #fff;
        font-size: 14px;
        cursor: pointer;
    }
}

a {
    text-decoration: none;
    color: #171717;
}