.product {
    &__list {
        max-width: 1180px;
        padding: 0 10px;
        min-height: 100vh;
        justify-content: flex-start;
        flex-wrap: wrap;
        display: flex;
        margin-block-end: 0;
        margin-block-start: 0;
        list-style-type: none;
    }
    &__btn {
        width: 100px;
        height: 40px;
        border: none;
        background-color: #29a745;
        border-radius: 4px;
        color: #fff;
        font-size: 14px;
        cursor: pointer;
    }
    &__more {
        padding: 50px 50px;
        // float: right;
    }
    &__pages {
        margin: 20px 0 80px 0;
    }
    &__page, &__page_current {
        border: 1px solid #29a745;
        color: #29a745;
        border-radius: 10%;
        padding: 5px 10px;
        margin: 0 10px;
        cursor: pointer;
    }
    &__page_current {
        border: 2px solid #29a745;
        background-color: #29a745;
        color: #fff;
        font-weight: 500;
        font-size: 18px;
    }
}